:root {
    --primary: #1ac39c;
    --accent: #ff3d85;
    --secondary: #4e5afe;
    --warning: #eed818;
    --info: #05b4e1;
    --danger: #ff4943;
    --success: #96c93d;
    --dark: #343531;
    --light: #f5f9f6;
    --cs: #596261;
    --grey: #6e807a;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #343531;
}

a {
    color: #07be94;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #03a882;
    cursor: pointer;
    /* text-decoration: underline; */
}

.text-xs {
    font-size: 12px !important;
}

.text-sm {
    font-size: 14px !important;
}

.text-md {
    font-size: 1rem !important;
}

.text-lg {
    font-size: 18px !important;
}

.text-xl {
    font-size: 20px !important;
}

/* Color systems */

.bg-primary {
    background-color: #00d9a5 !important;
}

a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #07be94 !important;
}

.bg-accent {
    background-color: #ff3d85 !important;
}

a.bg-accent:hover,
a.bg-accent:focus {
    background-color: #e93577 !important;
}

.bg-secondary {
    background-color: #4e5afe !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus {
    background-color: #3d49f0 !important;
}

.bg-success {
    background-color: #96c93d !important;
}

a.bg-success:hover,
a.bg-success:focus {
    background-color: #80b12d !important;
}

.bg-info {
    background-color: #05b4e1 !important;
}

a.bg-info:hover,
a.bg-info:focus {
    background-color: #07a2c8 !important;
}

.bg-warning {
    background-color: #eed818 !important;
}

a.bg-warning:hover,
a.bg-warning:focus {
    background-color: #d3bf0d !important;
}

.bg-danger {
    background-color: #ff4943 !important;
}

a.bg-danger:hover,
a.bg-danger:focus {
    background-color: #e73832 !important;
}

.bg-grey {
    background-color: #6e807a !important;
}

a.bg-grey:hover,
a.bg-grey:focus {
    background-color: #62726d !important;
}

.bg-light {
    background-color: #f5f9f6 !important;
}

a.bg-light:hover,
a.bg-light:focus {
    background-color: #e1ebe8 !important;
}

.bg-dark {
    background-color: #343531 !important;
}

a.bg-dark:hover,
a.bg-dark:focus {
    background-color: #1e1f1c !important;
}

.text-primary {
    color: #35bf53 !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #07be94 !important;
}

.text-accent {
    color: #ff3d85 !important;
}

a.text-accent:hover,
a.text-accent:focus {
    color: #e93577 !important;
}

.text-secondary {
    color: #4e5afe !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
    color: #3d49f0 !important;
}

.text-success {
    color: #96c93d !important;
}

a.text-success:hover,
a.text-success:focus {
    color: #80b12d !important;
}

.text-info {
    color: #05b4e1 !important;
}

a.text-info:hover,
a.text-info:focus {
    color: #07a2c8 !important;
}

.text-warning {
    color: #eed818 !important;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #d3bf0d !important;
}

.text-danger {
    color: #ff4943 !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #e73832 !important;
}

.text-grey {
    color: #6e807a !important;
}

a.text-grey:hover,
a.text-grey:focus {
    color: #62726d !important;
}

.text-light {
    color: #f5f9f6 !important;
}

a.text-light:hover,
a.text-light:focus {
    color: #e1ebe8 !important;
}

.text-dark {
    color: #343531 !important;
}

a.text-dark:hover,
a.text-dark:focus {
    color: #1e1f1c !important;
}

img {
    width: 100%;
    overflow: hidden;
}

header {
    background-color: transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
}

.text-body {
    color: #252921 !important;
}

.border-primary {
    border-color: #00d9a5 !important;
}

.border-secondary {
    border-color: #ff3d85 !important;
}

.border-success {
    border-color: #96c93d !important;
}

.border-info {
    border-color: #05b4e1 !important;
}

.border-warning {
    border-color: #eed818 !important;
}

.border-danger {
    border-color: #ff4943 !important;
}

.border-grey {
    border-color: #6e807a !important;
}

.border-light {
    border-color: #f5f9f6 !important;
}

.border-dark {
    border-color: #343531 !important;
}

/* Buttons */

.btn-primary {
    color: #fff;
    background-color: #35bf53;
    border-color: transparent;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #2aa344;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2aa344;
    border-color: #2aa344;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-accent {
    color: #fff;
    background-color: #ff3d85;
    border-color: transparent;
}

.btn-accent.disabled,
.btn-accent:disabled {
    color: #fff;
    background-color: #e93577;
    border-color: transparent;
}

.btn-accent:not(:disabled):not(.disabled):active,
.btn-accent:not(:disabled):not(.disabled).active,
.show > .btn-accent.dropdown-toggle {
    color: #fff;
    background-color: #ff3d85;
    border-color: #e93577;
}

.btn-accent:not(:disabled):not(.disabled):active:focus,
.btn-accent:not(:disabled):not(.disabled).active:focus,
.show > .btn-accent.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary {
    color: #fff;
    background-color: #4e5afe;
    border-color: transparent;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #3d49f0;
    border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #4e5afe;
    border-color: #3d49f0;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #96c93d;
    border-color: transparent;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #80b12d;
    border-color: transparent;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #96c93d;
    border-color: #80b12d;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-info {
    color: #fff;
    background-color: #05b4e1;
    border-color: transparent;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #07a2c8;
    border-color: transparent;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #05b4e1;
    border-color: #07a2c8;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-warning {
    color: #343531;
    background-color: #eed818;
    border-color: transparent;
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #343531;
    background-color: #d3bf0d;
    border-color: transparent;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
    color: #343531;
    background-color: #eed818;
    border-color: #d3bf0d;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-danger {
    color: #fff;
    background-color: #ff4943;
    border-color: transparent;
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #e73832;
    border-color: transparent;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #ff4943;
    border-color: #e73832;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-light {
    color: #343531;
    background-color: #f5f9f6;
    border-color: transparent;
}

.btn-light:hover {
    color: #343531;
    background-color: #e1ebe8;
    border-color: transparent;
}

.btn-light:focus,
.btn-light.focus {
    color: #343531;
    background-color: #d5dfdc;
    border-color: transparent;
    box-shadow: none;
}

.btn-light.disabled,
.btn-light:disabled {
    color: #343531;
    background-color: #d0ddd9;
    border-color: transparent;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #343531;
    background-color: #f5f9f6;
    border-color: #d0ddd9;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-dark {
    color: #fff;
    background-color: #343531;
    border-color: transparent;
}

.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: #1e1f1c;
    border-color: transparent;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #343531;
    border-color: #1e1f1c;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:hover,
.btn-accent:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-dark:hover {
    color: #fff;
    background-color: #2aa344;
    border-color: transparent;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-accent:focus,
.btn-accent.focus,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-success:focus,
.btn-success.focus,
.btn-info:focus,
.btn-info.focus,
.btn-warning:focus,
.btn-warning.focus,
.btn-danger:focus,
.btn-danger.focus,
.btn-dark:focus,
.btn-dark.focus {
    color: #fff;
    background-color: #207a34;
    border-color: transparent;
    box-shadow: none;
}

.btn-outline-primary {
    color: #00d9a5;
    border-color: #00d9a5;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #00d9a5;
    border-color: #00d9a5;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: none;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #00d9a5;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #00d9a5;
    border-color: #00d9a5;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-accent {
    color: #ff3d85;
    border-color: #ff3d85;
}

.btn-outline-accent:hover {
    color: #fff;
    background-color: #ff3d85;
    border-color: #ff3d85;
}

.btn-outline-accent:focus,
.btn-outline-accent.focus {
    box-shadow: none;
}

.btn-outline-accent.disabled,
.btn-outline-accent:disabled {
    color: #ff3d85;
    background-color: transparent;
}

.btn-outline-accent:not(:disabled):not(.disabled):active,
.btn-outline-accent:not(:disabled):not(.disabled).active,
.show > .btn-outline-accent.dropdown-toggle {
    color: #fff;
    background-color: #ff3d85;
    border-color: #ff3d85;
}

.btn-outline-accent:not(:disabled):not(.disabled):active:focus,
.btn-outline-accent:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-accent.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-secondary {
    color: #4e5afe;
    border-color: #4e5afe;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #4e5afe;
    border-color: #4e5afe;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    box-shadow: none;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #4e5afe;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #4e5afe;
    border-color: #4e5afe;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-success {
    color: #96c93d;
    border-color: #96c93d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #96c93d;
    border-color: #96c93d;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: none;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #96c93d;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #96c93d;
    border-color: #96c93d;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-info {
    color: #05b4e1;
    border-color: #05b4e1;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #05b4e1;
    border-color: #05b4e1;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
    box-shadow: none;
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #05b4e1;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #05b4e1;
    border-color: #05b4e1;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-warning {
    color: #eed818;
    border-color: #eed818;
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: #eed818;
    border-color: #eed818;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
    box-shadow: none;
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: #eed818;
    background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #eed818;
    border-color: #eed818;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-danger {
    color: #ff4943;
    border-color: #ff4943;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #ff4943;
    border-color: #ff4943;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: none;
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #ff4943;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #ff4943;
    border-color: #ff4943;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-light {
    color: #f5f9f6;
    border-color: #f5f9f6;
}

.btn-outline-light:hover {
    color: #343531;
    background-color: #f5f9f6;
    border-color: #f5f9f6;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
    box-shadow: none;
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #f5f9f6;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
    color: #343531;
    background-color: #f5f9f6;
    border-color: #f5f9f6;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-dark {
    color: #343531;
    border-color: #343531;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343531;
    border-color: #343531;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
    box-shadow: none;
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: #343531;
    background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343531;
    border-color: #343531;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-link {
    font-weight: 400;
    color: #07be94;
    text-decoration: none;
}

.btn-link:hover {
    color: #03a882;
    text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: underline;
}

.btn-link:disabled,
.btn-link.disabled {
    color: #6e807a;
    pointer-events: none;
}

.topbar {
    background: rgb(196, 200, 198);
    background: linear-gradient(
        90deg,
        rgba(196, 200, 198, 1) 0%,
        rgba(81, 227, 113, 1) 33%,
        rgba(81, 181, 103, 1) 66%,
        rgba(121, 146, 176, 1) 100%
    );
}

.topbar .row {
    align-items: center;
    min-height: 36px;
}

.topbar .site-info a {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
}

.topbar .site-info {
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
}

.topbar .site-info a:hover {
    text-decoration: none;
}

.topbar .site-info a span {
    font-size: 16px;
    margin-right: 6px;
}

.topbar .site-info .divider {
    margin-left: 8px;
    margin-right: 8px;
    color: #bec8b8;
}

.topbar .social-mini-button a {
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
}

.topbar .social-mini-button a:hover {
    text-decoration: none;
    color: #6e807a;
}

.btn {
    padding: 8px 24px;
}

.breadcrumb {
    background-color: #f8f9fa;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #00d9a5;
}

.breadcrumb-dark .breadcrumb-item a:hover {
    color: #07be94;
    text-decoration: none;
}

.breadcrumb-dark .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    content: "/";
}

.breadcrumb-dark .breadcrumb-item.active {
    color: rgba(255, 255, 255, 0.8);
}

.navbar {
    min-height: 70px;
}

.navbar-brand {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav {
    margin-top: 10px;
    border-top: 1px solid #e8eee4;
    flex-shrink: 0;
}

.navbar-nav .nav-link {
    transition: all 0.2s ease;
}

.navbar-nav .btn {
    font-size: 11pt;
    width: 150px;
}

.page-hero .btn {
    font-size: 11pt;
    width: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(110, 128, 122, 0.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #6e807a;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #00d9a5;
}

.form-control {
    padding: 8px 15px;
    height: calc(1.5em + 1.375rem + 2px);
    border-color: #d6dbd9;
}

.custom-select {
    height: calc(1.5em + 1.375rem + 2px);
}

.page-link {
    margin-left: 5px;
    min-width: 40px;
    color: #6e807a;
    border: 1px solid #dee6e5;
    text-align: center;
    border-radius: 4px;
}

.page-link:hover {
    color: #2d3b38;
    background-color: #e1ebe8;
    border-color: #dee6e4;
}

.page-link:focus {
    box-shadow: none;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #00d9a5;
    border-color: #00d9a5;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.img-place {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.img-place > img {
    width: 100%;
    height: 100%;
}

.bg-image {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image-parallax {
    background-attachment: fixed;
}

.bg-image-overlay-dark {
    position: relative;
}

.bg-image-overlay-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #343531;
}

.bg-image > * {
    position: relative;
    z-index: 10;
}

.avatar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.avatar-img {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-img img {
    width: 100%;
    height: 100%;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(221, 221, 221, 0.7);
    visibility: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1100;
}

.back-to-top::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -4px auto;
    width: 12px;
    height: 12px;
    border-top: 2px solid #555;
    border-right: 2px solid #555;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.back-to-top:hover {
    background: #00d9a5;
}

.back-to-top:hover::after {
    border-color: #fff;
}

.offer-design {
    position: relative;
    z-index: 2;
}

.page-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    z-index: 10;
}

.page-section h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 600;
    color: #35bf53;
}

.page-section h5 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #35bf53;
    padding-top: 30px;
    text-align: center;
}

.page-section:after {
    content: "";
    background-image: url(../img/Intersect.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 100%;
}

.page-hero {
    position: relative;
    padding: 130px 0px 130px 0px;
    /* padding: 0px 0px 20px 0px; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.page-hero:after {
    content: "";
    background-image: url(../img/Asset2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.page-hero .left-items {
    margin-right: 10px;
    margin-top: 100px;
}

.show-up {
    position: relative;
    z-index: 2;
}

.page-hero .right-items {
    text-align: center;
    position: relative;
    z-index: 20;
}

.page-hero .right-items img {
    max-width: 900px;
}

.page-hero p {
    letter-spacing: 1px;
    text-align: justify;
    width: 400px;
}

.page-hero h1 {
    margin-bottom: 1px;
    font-weight: bold;
    color: #35bf53;
}

.page-banner {
    position: relative;
    height: 300px;
    z-index: 10;
}

.page-hero.overlay-dark::before,
.page-banner.overlay-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 53, 49, 0.7);
    z-index: 1;
}

.page-banner .breadcrumb-item,
.page-banner .breadcrumb-item a {
    font-size: 14px;
}

.hero-section,
.banner-section {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    color: #000000;
    z-index: 10;
}

.page-works {
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: #e7faeb;
}

.page-works h1 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #ffffff;
    background: rgb(81, 181, 103);
    background: linear-gradient(
        90deg,
        rgba(81, 181, 103, 0.4598214285714286) 0%,
        rgba(81, 181, 103, 1) 9%,
        rgba(81, 227, 113, 1) 24%,
        rgba(121, 146, 176, 1) 56%,
        rgba(121, 146, 176, 0) 100%
    );
    text-transform: uppercase;
    padding-left: 10px;
    width: 60%;
}

.page-works h2 {
    font-weight: 600;
}

.page-works p {
    text-align: justify;
}

.page-price {
    position: relative;
    overflow: hidden;
    border-bottom: 1px #000000;
    padding-bottom: 50px;
    padding-top: 50px;
    z-index: 10;
}

.page-price h1 {
    color: #35bf53;
    font-weight: bold;
}

.page-price:before {
    content: "";
    background-image: url(../img/price-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.pricing-item-regular {
    margin-top: 30px;
    box-shadow: 0px 0px 15px rgb(163, 163, 163);
    background-color: #ffff;
    border-radius: 50px;
    padding: 90px 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pricing-item-regular:before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/regular-table-top.png);
    z-index: 0;
    content: "";
    width: 274px;
    height: 221px;
}

.pricing-item-regular:after {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../images/regular-table-bottom.png);
    z-index: 0;
    content: "";
    width: 370px;
    height: 171px;
}

.pricing-item-regular span.price {
    font-size: 40px;
    color: #fff;
    position: absolute;
    font-weight: 700;
    z-index: 1;
    left: 30px;
    top: 30px;
}

.pricing-item-regular h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.pricing-item-regular .icon img {
    width: 120px;
    height: 106px;
    margin-bottom: 30px;
}

.pricing-item-regular ul li {
    color: #26312f;
    font-size: 15px;
    margin-bottom: 15px;
}

.pricing-item-regular ul li:last-child {
    margin-bottom: 0px;
}

.pricing-item-regular ul li.non-function {
    color: #afafaf;
    text-decoration: line-through;
}

.pricing-item-regular .border-button {
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

.pricing-item-pro {
    box-shadow: 0px 0px 15px rgb(163, 163, 163);
    border-radius: 50px;
    background-color: #ffffff;
    padding: 120px 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pricing-item-pro:before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/pro-table-top.png);
    z-index: 0;
    content: "";
    width: 281px;
    height: 251px;
}

.pricing-item-pro:after {
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/pro-table-bottom.png);
    z-index: 0;
    content: "";
    width: 100%;
    height: 201px;
}

.pricing-item-pro span.price {
    font-size: 40px;
    color: #fff;
    position: absolute;
    font-weight: 700;
    z-index: 1;
    left: 30px;
    top: 30px;
}

.pricing-item-pro h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.pricing-item-pro .icon img {
    width: 120px;
    height: 106px;
    margin-bottom: 30px;
}

.pricing-item-pro ul li {
    color: #26312f;
    font-size: 15px;
    margin-bottom: 15px;
}

.pricing-item-pro ul li:last-child {
    margin-bottom: 0px;
}

.pricing-item-pro ul li.non-function {
    color: #afafaf;
    text-decoration: line-through;
}

.pricing-item-pro .border-button {
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

.work-content {
    align-items: center;
    margin-top: 10px;
}

.work-content .btn {
    float: right;
    font-size: 6pt;
    background-color: white;
    border: 1px solid black;
    color: #000000;
}

.work-content .btn:hover {
    background-color: #35bf53;
    border: 1px solid #fff;
    color: #fff;
}

.input-navbar {
    width: auto;
    max-width: 280px;
}

.input-navbar .input-group-text {
    background-color: #fff;
    color: #00d9a5;
}

.input-navbar .form-control {
    height: calc(1.5em + 1rem + 2px);
}

.card-service {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    line-height: normal;
    padding: 30px;
}

.card-service p {
    margin-top: 10px;
    text-align: justify;
    text-indent: 10%;
}

.circle-shape {
    flex-shrink: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 64px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
}

#doctorSlideshow .owl-nav {
    margin-top: 24px;
}

.card-doctor {
    display: block;
    margin: 15px auto;
    width: 100%;
    max-width: 240px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(154, 159, 151, 0.2);
    overflow: hidden;
}

.card-doctor .text-xl {
    font-weight: 500;
}

.card-doctor .header {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.card-doctor .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 53, 49, 0.36);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.card-doctor:hover .header::before {
    opacity: 1;
}

.card-doctor .header .meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

.card-doctor:hover .header .meta {
    bottom: 15px;
    visibility: visible;
    opacity: 1;
}

.card-doctor .header .meta a {
    display: inline-block;
    margin: 3px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: #6e807a;
    box-shadow: 0 4px 8px rgba(154, 159, 151, 0.6);
    transition: all 0.2s ease;
}

.card-doctor .header .meta a:hover {
    text-decoration: none;
    background-color: #6e807a;
    color: #fff;
}

.card-doctor .header img {
    width: 100%;
    height: 260px;
}

.card-doctor .body {
    padding: 15px 20px;
}

.search-form .form-group {
    position: relative;
}

.search-form .btn {
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 6px 12px;
    background-color: #00d9a5;
    color: #fff;
    transition: all 0.2s ease;
}

.search-form .btn:hover {
    background-color: #07be94;
}

.main-form {
    display: block;
    max-width: 700px;
    margin: 0 auto;
}

.page-about h1 {
    font-weight: 600;
}

.page-about .banner-home {
    color: rgb(27, 27, 27);
    position: relative;
    overflow: hidden;
}

.banner-home .img-banner {
    display: block;
    max-width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.banner-home .img-banner img {
    width: 100%;
}

footer {
    background-image: url(../img/lower-bg1.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

.page-footer {
    position: relative;
    display: block;
    padding-top: 30px;
    padding-bottom: 16px;
    color: #ffffff;
}

.page-footer-main {
    padding-top: 100px;
}

.page-footer h5 {
    font-weight: 500;
    margin-bottom: 16px;
}

.page-footer hr {
    border-color: #4f5e5b;
}

.footer-menu {
    position: relative;
    list-style: none;
    padding-left: 0;
}

.footer-menu a,
.footer-link {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #26312f;
    transition: all 0.2s ease;
}

.footer-menu a:hover,
.footer-link:hover {
    text-decoration: none;
    color: #07be94;
}

.footer-link {
    padding: 0;
    margin-bottom: 16px;
}

.footer-sosmed a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    background-color: #26312f;
    color: #ffff;
    transition: all 0.2s ease;
}

.footer-sosmed a:hover {
    background-color: #00d9a5;
    text-decoration: none;
}

#google-maps {
    width: 100%;
    height: 350px;
}

.custom-img-1 {
    width: auto;
    max-width: 390px;
}

.custom-index {
    z-index: 11;
}

/* Custom Plugin */

.owl-nav {
    display: block;
    margin: 15px auto;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    display: inline-block;
    padding: 6px 0 !important;
    background-color: #35bf53;
    color: #fff;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #2aa344;
}

.owl-carousel .owl-nav button.owl-next {
    padding-right: 14px !important;
    padding-left: 7px !important;
    border-radius: 0 40px 40px 0;
}

.owl-carousel .owl-nav button.owl-prev {
    padding-right: 7px !important;
    padding-left: 14px !important;
    border-radius: 40px 0 0 40px;
}

.bg-img-1 {
    background-image: url(/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand1 {
    padding: 0;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.offer-img {
    width: 100%;
    overflow: hidden;
}

/* login design */
.d-design {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.main-title-page {
    font-size: 25pt;
    font-weight: bold;
    align-items: center;
    padding: 1% 3% 1% 3%;
}
.main-title-page .nav-title {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-title-page img {
    width: 60px;
}
.main-title-page span {
    color: #35bf53;
}
.main-title-page span img {
    width: 100px;
}

.login-form {
    border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form img {
    border-radius: 0 20px 20px 0;
    background-size: cover;
    height: 100%;
}

.login-form-1 {
    padding: 8%;
}
.login-form-1 h5 {
    color: #6e6e6e;
    padding: 0% 3% 0% 3%;
}

.login-container form {
    padding: 3%;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .form-par {
    color: #6e6e6e;
    font-weight: 600;
}

.login-form-1 .ForgetPwd {
    float: right;
    color: #6e6e6e;
}

.login-d {
    display: flex;
    justify-content: center;
}

.login-d .btnSubmit {
    width: 50%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.reg-d {
    display: flex;
    justify-content: center;
}

.reg-d .btnSubmit {
    width: 100%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btnSubmit {
    margin: 10px;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    background: rgb(209, 253, 193);
    background: linear-gradient(
        90deg,
        rgba(209, 253, 193, 1) 0%,
        rgba(53, 191, 83, 1) 100%
    );
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 9px 26px 0 rgba(43, 43, 43, 0.19);
}
.btnSubmit:hover {
    transition: transform 1s ease-out;
    background: rgb(53, 191, 83);
    background: linear-gradient(
        90deg,
        rgba(53, 191, 83, 1) 0%,
        rgba(209, 253, 193, 1) 100%
    );
}

.reg-d .btnBack {
    width: 100%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.btnBack {
    margin: 10px;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    background-color: #bf3c3c;
    background: rgb(209, 253, 193);
    background: linear-gradient(
        90deg,
        rgb(121, 121, 121) 0%,
        rgb(204, 204, 204) 100%
    );
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 9px 26px 0 rgba(43, 43, 43, 0.19);
}

.btnBack:hover {
    color: #fff;
    background: linear-gradient(
        90deg,
        rgb(204, 204, 204) 0%,
        rgb(121, 121, 121) 100%
    );
}

.agree-d {
    font-size: 10px;
    color: #6e6e6e;
    text-align: center;
}

/* login design */

/* register */
.reg-pad {
    padding: 0 1% 5%;
}

/* register */

/* media part */

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        margin-top: 0;
        border-top: none;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }
    .navbar-expand-sm .navbar-nav {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        margin-top: 0;
        border-top: none;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }
    .navbar-expand-md .navbar-nav {
        align-items: center;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        margin-top: 0;
        border-top: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav {
        margin-top: 0;
        border-top: none;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 50px;
        padding-left: 50px;
    }
    .navbar-expand-xl .navbar-nav {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .card-service {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .navbar-nav {
        text-align: center;
        box-shadow: 0px 5px 8px rgb(0 0 0 / 3%);
    }
    .navbar-nav li {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        padding-top: 10px;
        background-color: #fff;
    }
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 992px) {
    .page-hero .left-items {
        margin-top: 0;
        text-align: center;
    }
    .page-hero p {
        width: 100%;
    }
    .page-hero:after {
        display: none;
    }
    .page-section:after {
        display: none;
    }
    .page-hero {
        position: relative;
        padding: 130px 0px 0px 0px;
        /* padding: 0px 0px 20px 0px; */
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .page-works h1 {
        width: 100%;
    }
    .right-part-img h2:before {
        content: "";
        background-image: url(../img/Clinics.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 390px;
        height: 219.25px;
        margin-bottom: 10px;
    }
    .right-part-img img {
        display: none;
    }
    .topbar {
        text-align: center;
    }
    .site-info {
        display: inline-block;
    }
    .social-mini-button {
        text-align: center;
    }
    .pricing-item-regular {
        margin-bottom: 30px;
    }
}
